* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  background: #5cb0c4;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

header a {
  color: #c5cb96;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

main {
  margin: 30px 0;
  text-align: center;
}

footer {
  background: #5cb0c4;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 40px;
}

.card {
  background-color: #e6ffe6;
  border: 2px solid #1a4d1a;
  padding: 20px 40px;
  text-decoration: none;
  color: #1a4d1a;
  font-weight: bold;
  border-radius: 5px;
  width: 250px;
  transition: background 0.3s;
}


.card:hover {
  background-color: #c5cb96;
}
.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 15px;
}
.sidebar ul {
  list-style: none;
  padding-left: 0;
}
.sidebar a {
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}
.content {
  padding: 20px;
  flex-grow: 1;
}

.centered-paragraph {
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
  line-height: 1.6;
}
